
h1 {
	font-family: 'Droid Serif', Georgia, Times, serif;
	font-size: 49px;
	line-height: 65px;
}
 
p {
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 25px;
}