body{
	font-family: Verdana;
	
}



table{
	font-family: Verdana;	
}

th{
	text-align: left;
	background-color: green;
	color: white;
	font-size: 16px;
	padding: 5px 15px;
}

td{
	text-align: center;
	font-size: 14px;
}

caption{
	background-color: activeborder;
	color: green;
	padding: 10px 15px;
}
button{
	background-color: blue;
	color: white;
	padding: 10px 15px;
	width: 200px;
}
legend{
	font-size: 12px;
	color: blue;
}

#Equipe th {
	text-align: center;
	font-size: 12px;
	text-align: left;
	background-color: #808080;
	color: white;
	padding: 5px 15px;
}
#Equipe td {
	text-align: center;
	font-size: 10px;
}